<div *ngIf="!isLoading$ || (serverStatusIsUp$ | async); else serverDown">
  <nav class="navbar">
    <a class="navbar-button" routerLink="{{ Paths.Home }}">Home</a>
    <a class="navbar-button" routerLink="{{ Paths.Logs }}">Logs</a>
    <a class="navbar-button" routerLink="{{ Paths.SignIn }}">Sign In</a>
    <a class="navbar-button" routerLink="{{ Paths.SignUp }}">Sign Up</a>
    <a class="navbar-button" routerLink="{{ Paths.Logout }}">Logout</a>
  </nav>

  <router-outlet></router-outlet>
</div>

<ng-template #serverDown>
  <div class="server-down-message">
    The server is currently down. Please try again later.
  </div>
</ng-template>

