<h1 mat-dialog-title>
  {{ modalData.modalType === UserProfileModalType.Create ? "Create User Profile" : "Update User Profile" }}
</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 16px;">
    <mat-label>Profile Name</mat-label>
    <input matInput [(ngModel)]="modalData.data.name">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Content</mat-label>
    <textarea matInput [(ngModel)]="modalData.data.content" rows="4"></textarea>
  </mat-form-field>
</div>

<button mat-button (click)="onValidateJsonContentButtonPress()">Validate Content JSON</button>

<div mat-dialog-actions>
  <mat-checkbox [(ngModel)]="modalData.data.isChecked">Set as active profile</mat-checkbox>
  <button mat-button (click)="onDelete()">Delete</button>
  <button mat-button (click)="onSave()">Save</button>
  <button mat-button (click)="onClose()">Close</button>
</div>
