<div class="container mt-4 terminal">
  <div class="terminal-content">
    <table class="table table-striped table-bordered table-hover terminal-table">
      <thead class="terminal-table-header">
      <tr>
        <th scope="col">Timestamp</th>
        <th scope="col">Log Level</th>
        <th scope="col">Message</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let log of logs" class="terminal-table-row">
        <td class="terminal-table-cell">{{ log.timestamp }}</td>
        <td class="terminal-table-cell">{{ log.severity }}</td>
        <td class="terminal-table-cell">{{ log.message }}</td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="logs.length === 0" class="text-center text-muted terminal-message">
      No logs available.
    </div>
  </div>
</div>
