<lib-toastify-toast-container
  [position]="options.position"
  [transition]="options.transition"
  [autoClose]="options.autoClose"
  [autoCloseSuccess]="options.autoCloseSuccess"
  [autoCloseInfo]="options.autoCloseInfo"
  [autoCloseWarn]="options.autoCloseWarn"
  [autoCloseError]="options.autoCloseError"
  [hideProgressBar]="options.hideProgressBar"
  [newestOnTop]="options.newestOnTop"
  [closeOnClick]="options.closeOnClick"
  [pauseOnHover]="options.pauseOnHover"
  [pauseOnVisibilityChange]="options.pauseOnVisibilityChange"
  [iconLibrary]="options.iconLibrary"
></lib-toastify-toast-container>
